<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/common}">
<head>
    <title>Login</title>
</head>
<body>
<section layout:fragment="content">
    <h2>Login</h2>	
	<div th:if="${param.registered}" class="alert alert-success">Account created. Please log in.</div>
	<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>
</section>
</body>
</html>
